@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/primeng/resources/themes/omega/theme.css";
@import "../../node_modules/primeng/resources/primeng.min.css";


.chatform{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
